$width-content: 100%;
$game-field-size: 400px;
$game-cell-size: 100px;
$game-field-backgroud: #3d2963;

$firstShadowPosition: 3px;
$secondShadowPosition: -3px;
$threeShadowPosition: 4px;
$fourShadowPosition: -4px;
$logoColor: #8E8CD8;